body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background:#333;
    text-align: center;
    color: white;
    margin: 0;
}
#showcase .bg-image {
    position: absolute;
    background: #333 url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}
#showcase {
    min-height: 450px;
    color: #fff; 
}
.content-wrap{
    width: 50%;
    margin: auto;
    padding-top: 90px;
}
.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em auto;
}
.btn:hover{
    background-color: lavender;
    color: black;
}

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 3em;
    padding-top: 1em;
    min-width: 100%;
}
.content-wrapper{
    column-count: 2;
    max-width: 60%;
    column-gap: 5%;
    margin: auto;
    text-align: center;
}
.content-text{
    min-width:100%;
    margin: auto;
}
@media screen and (max-width:701px){
  .content-wrapper{
    column-count: 1;
  }
}
#section-b{
    display: flex;
    justify-content: center;
    list-style: none; 
}
img{
    max-width: 100%;
    height: 190px;
}
.card{
    max-width: 270px;
    max-height: 600px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    margin: 20px 10px;
}
h3{
    margin: 45px;
    font-size: 20px; 
}
.card-content>p{
    display: inline-block;
    text-align: center;
    max-width: 90%;
    min-height: 180px;
    margin-bottom: 40px;
    margin-top: 0;
    line-height: 25px;
    color: #333;
}
@media screen and (max-width:701px){
    #section-b{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
  }

#section-c{
    background-color: #fff;
    color: black;
    min-width: 100%;
    min-height: 250px;
}
.content-title{
    font-size: 30px;
    margin-bottom: 50px;
}
.content-wrap2{
    width: 50%;
    margin: auto;
    padding-top: 20px;
    color: #333;
}

#section-d{
    display: flex;
    max-height: 370px;
    min-width: 100%;
}
#section-d .box:first-child {
    background: #2690d4;
}
.box{
    min-height: 320px;
    line-height: 30px;
    width: 50%;
}
.content-title-d{
    margin-top: 40px;
}
.box>p{
    display: inline-block;
    max-width: 80% ;
}
@media screen and (max-width:701px){
    #section-d{
      display: flex;
      flex-direction: column;
    }
    .box{
        min-width: 100%;
        min-height: 400px;
        padding: 15px;
    }
    #section-d .box:first-child {
        width: 100%;
    }
  }
footer{
    background-color: black;
    height:100px
}
#main-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    font-size: 20px;
}
a{
    color: #2690d4;
    text-decoration: none;
}
#link-footer::before{
    content: 'Project by ';
    color: #fff;
}
@media screen and (max-width:701px){
    #main-footer{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: -450px;
        min-width: 100%;
    }
  }
